<div class="page-content">
  <section class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body px-4 py-4-5">
          Master Balita
        </div>
      </div>
    </div>
  </section>
</div>