<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam voluptas magni tempora fuga officia soluta
    autem facilis unde quaerat, consequatur saepe sint! Quaerat enim iure deleniti minima quisquam, atque
    aspernatur?</p>
</div>